%header
    %h1 ASQ
    
    .db
        %a.icon.database{ :href => '#', 'data-ref' => 'db' } DB
        %ul
            - @dbs.each do |dba|
                %li
                    %a{ :href => '/' + dba[:Database], 'data-db-name' => dba[:Database] }= dba[:Database]

    .queries
        %input.search-in-queries{ :type => 'search', :placeholder => sprintf('Search %d queries', @queries.count) }

        - if @queries.count != 0
            %ul.query-list.hide
                - @queries.each do |query|
                    %li
                        %a{ :href => '#', 'data-id' => query[:id] }
                            %span= query[:id]
                            %strong= query[:name]

    %a.open.icon.add{ :href => '#', 'data-ref' => 'edit' } Add
    %a.open.icon.edit.hide{ :href => '#', 'data-ref' => 'edit' } Edit
    %a.open.icon.export.hide{ :href => '#', 'data-ref' => 'export' } Export

    %input.search-in-results{ :type => 'search', :placeholder => 'Search in results' }

%section#edit.hide
    %div
        %h1 Edit query
        %form{ :action => '/add', :method => 'post' }
            %p
                %label{ :for => 'edit-name' } Name
                %input#edit-name{ :name => 'edit-name' }
            %p
                %label{ :for => 'edit-query' } Query
                %textarea#edit-query{ :name => 'edit-query' }
            %p
                %input{ :type => 'hidden', :id => 'edit-id', :name => 'edit-id', :value => 'false' }
                %a.delete-query.hide.icon.delete{ :href => '#' } Delete query
                %input{ :type => 'submit', :id => 'edit-submit', :value => 'Save' }

%section#export.hide
    %div
        %h1 Export results
        %ul
            %li
                %a.csv{ :href => '#' } .csv (Comma-separated values)
            %li
                %em
                    Google Docs
                    %strong Coming soon!