!!!5

%html
  %head
    %meta{ :charset => 'utf-8' }
    %title ASQ
    %link{ :href => '/styles/screen.css', :media => 'screen', :rel => 'stylesheet' }
    %link{ :href => '/scripts/codemirror/lib/codemirror.css', :media => 'screen', :rel => 'stylesheet' }
    %link{ :href => '/scripts/datepicker/datepicker.css', :media => 'screen', :rel => 'stylesheet' }
    - unless Config['misc']['defaultDb'] === false
      %meta{ :name => 'default-db', :content => Config['misc']['defaultDb'] }

  %body
    = yield

    %script{ :src => '/scripts/jquery.js'}
    %script{ :src => '/scripts/codemirror/lib/codemirror.js'}
    %script{ :src => '/scripts/codemirror/mode/mysql/mysql.js'}
    %script{ :src => '/scripts/datepicker/date.js'}
    %script{ :src => '/scripts/datepicker/jquery.datepicker.js'}
    %script{ :src => '/scripts/jquery.autosuggest.js'}
    %script{ :src => '/scripts/highcharts.js'}
    %script{ :src => '/scripts/asq.js'}